.center1{
    display: flex;
    border: 1px black;
    width: 550px;
    height: 400px;
    background-color: rgb(203, 237, 243);
    justify-content: center;
    align-items: center;
    
}
.flying_box1{
    background-color: rgb(176, 233, 101);
    text-align: center;
    width: 30%;
    height: 10%;
    margin: 30px;
    padding: 20px;

}