.container{
    width: 100%;
}
.header{
    padding: 20px 0px;
    background-color: rgb(77, 177, 216);
    text-align: center;
    width: 70%;
    position: sticky;
    font-size: 1.3rem;
    top: 0;
}
.content{
    margin-left: 20px;
}